{{! https://handlebarsjs.com/guide/ }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ name }}</title>
    <meta property="og:title" content="Kenan Erdogan">
    <meta property="og:description" content="Software Engineer">
    <meta property="og:url" content="https://www.bitnik.xyz/cv.html">
    <meta name="twitter:card" content="summary">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page bg-color-soft-green">
    <div class="row">
        <div class="col-md-8 col-print-8 pr-0">
            <div class="row align-items-center">
                    <div class="col-print-3 col-lg-3 col-md-4 pr-0"><img class="photo img-fluid" src="{{ photo }}"></div>
                    <div class="col-print-9 col-lg-9 col-md-8"><h1>{{ name }}<br/>{{ title }}</h1></div>
            </div>
            <br>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
                <br>
                <span class="screen"><a class="link-soft-purple" href="{{ pdfFileName }}"><i class="fas fa-file-pdf fa-custom" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap">{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-4 col-print-4 pr-0">
            <dl class="row">
                {{#each facts}}
                <!--dt class="col-print-3 col-md-3 col-sm-2">{{ @key }}</dt-->
                <dd class="col-print-12 col-md-12 mb-1">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <h2>Skills</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#each skills}}
                <div class="col-print-3 col-md-3 col-sm-6 col-12">
                    * {{ this.[0] }}
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <h2>Working Experience</h2>
    {{#each experiences}}
    <div class="card">
        <div class="card-body">
            <h4>{{{title}}}</h4>
            <p class="text-muted">{{ date }}</p>
            {{{markdown content }}}
            <div class="">
                {{#each badges }}
                <span class="badge">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <h2>Education</h2>
    <div class="card">
        <div class="card-body">
            {{#each education}}
            <h4>{{ title }}</h4>
            <p class="text-muted mb-0">{{ date }}</p>
            {{#if content}}
            {{{markdown content }}}
            {{/if}}
            {{/each}}
        </div>
    </div>

    {{!-- <h2>Knowledge and Skills</h2>
    <div class="card">
        <div class="card-body">
            <h4>Tech</h4>
            <div class="row mb-2">
                {{#each skills}}
                <div class="col-print-3 col-md-3 col-sm-6 col-12">
                    * {{ this.[0] }}
                </div>
                {{/each}}
            </div>
            <h4>Languages</h4>
            <div class="row">
                {{#each languages}}
                <div class="col-print-3 col-md-3 col-sm-6 col-12">
                    * {{ this.[0] }} {{#if this.[1] }}({{ this.[1] }}){{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div> --}}
    
    <h2>Languages</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#each languages}}
                <div class="col-print-3 col-md-3 col-sm-6 col-12">
                    * {{ this.[0] }} {{#if this.[1] }}({{ this.[1] }}){{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    
    <h2>Interests</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {{#each interests}}
                <div class="col-print-3 col-md-3 col-sm-6 col-12">
                    * {{ this }}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</body>
</html>
